h1{
    text-align:center;
    margin: 10px;
}

.header {
    justify-content: space-around;
    align-items: center;
}

.football {
    width: 200px;
}

.winnerDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.winnerImg {
    padding: 20px;
    width: 150px;
}
