.teamCard {
  cursor: pointer;
  width: 250px;
}

.teamCard:hover {
  background-color: lightskyblue;
}

.selected {
  border-width: 3px;
  border-color: #68D391;
  color: #10B981;
}

.cardContent {
  align-items: center;
  justify-content: space-around;
}

.teamLogo {
  width: 100px;
}

@media only screen and (max-width: 980px) {
  .teamAbbr {
    display: none;
  }
}

.gameInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}
