h1{

  text-align:center;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */


.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 20%;
  padding: 5px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
